#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #003c6a;
  color: #ffffff;
  padding: 2rem 4rem;
}

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-container > div {
  display: flex;
  align-items: center;
}

.section-container > div > p {
  font-size: 25px;
  margin-right: 5px;
}

.section-detail-container {
  width: 600px;
}

.section-detail-container > div{
  display: flex;
  justify-content: space-between;
}
